name: main

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.1.0
      - uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: "26.0.2"
          rebar3-version: "3"
          gleam-version: "1.5.1"

      - run: gleam format --check

      - run: gleam test
